<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Pop News</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="/javascripts/angular-ui-router.min.js"></script>
	<script src="/javascripts/angularApp.js"></script>
</head>
<body ng-app="popNews">
	<ui-view></ui-view>
	
	<script type="text/ng-template" id="/home.html">
		<div>
			<h1>Welcome to Pop News!</h1>
		<div>
		<form ng-submit="addPost()">
			<input type="text" placeholder="Title" ng-model="title" />
			<input type="text" placeholder="Link" ng-model="link" />
			<button type="submit">Post</button>
		</form>
		<div ng-repeat="post in posts | orderBy: '-likes'">
			<span ng-click="incrementLikes(post)">^</span>
			<a href="{{post.link}}">{{post.title}} - likes: {{post.likes}}</a>
			<span>
  			<a href="#/posts/{{$index}}">Comments</a>
			</span>
		</div>
	</script>

	<script type="text/ng-template" id="/posts.html">
		<h1>{{post.title}}</h1>
		<h3>Add a new comment</h3>
		<form ng-submit="addComment()">
			<input type="text" placeholder="Comment here ..." ng-model="body" />
			<button type="submit">Comment</button>
		</form>

		<div ng-repeat="comment in post.comments | orderBy: '-likes'">
			<span ng-click="incrementLikes(comment)">^</span>
			{{comment.body}} - {{comment.author}} - likes: {{comment.likes}}
		</div>
	</script>
</body>
</html>